# -- Big Bang Values
domain: dev.bigbang.mil
istio:
  enabled: false
  hardened:
    enabled: false
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    # PERMISSIVE is required for any action which redeploys pods because STRICT interferes with initContainers
    # Can be changed to STRICT after all initContainers have finished but will interfere with upgrades/pod deployments that have initContainers
    mode: STRICT
  renovate:
    enabled: true
    gateways:
    - istio-gateway/public-ingressgateway

networkPolicies:
  enabled: true
  ingressLabels: 
    app: istio-ingressgateway
    istio: ingressgateway
  # -- IP range of target deployment
  renovateTargetIpRange: ""
  # Additional network policies
  # ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
  additionalPolicies: []


# -- Values to pass to [the upstream renovate chart](https://github.com/renovatebot/helm-charts/blob/renovate-43.13.0/charts/renovate/values.yaml)
# @default -- Upstream chart values

upstream:
  image:
    # -- Repository to pull renovate image from
    registry: registry1.dso.mil
    repository: ironbank/container-hardening-tools/renovate/renovate
    # -- Renovate image tag to pull
    tag: 42.80.1
    # -- "IfNotPresent" to pull the image if no image with the specified tag exists on the node, "Always" to always pull the image or "Never" to try and use pre-pulled images
    pullPolicy: IfNotPresent
    # -- Set `true` to use the full image. See https://docs.renovatebot.com/getting-started/running/#the-full-image
    useFull: false

  # -- Secret to use to pull the image from the repository
  imagePullSecrets:
    - name: private-registry

  renovate:
    configIsSecret: true
    configIsJson5: true
    config: "{}"
    securityContext:
      runAsUser: 1001
      runAsGroup: 1001
      runAsNonRoot: true

  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: "OnRootMismatch"
    runAsNonRoot: true
